@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --main: #4762ff;
  --clr--white: #fff;
  --clr--black: #000;
  --clr--gray: #333;
  --clr--input: #707070;
}

.container {
  width: 1800px;
  margin: 0 auto;
}

.navbar-top {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 25px;
  /* border-bottom: 1px solid rgb(196, 183, 183);*/
}

.navbar-items {
  display: flex;
  align-items: center;
  gap: 20px;
}

.span1 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--clr--gray);
}

.contact {
  font-family: "Helvetica Neue", sans-serif;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  transition: all 0.5s;
}

.navbar-links a {
  color: var(--clr--gray);
}

.navbar-link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar-icons {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.5s;
  line-height: 20px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  color: var(--clr--black);
}

.navbar-links a:hover {
  color: var(--main);
}

.navbar-icons span:hover {
  color: var(--main);
}

.navbar-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 20px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar-logo a {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: var(--clr--gray);
  transition: all 0.5s;
}

.navbar-logo a:hover {
  color: var(--main);
}

.navbar-top-links {
  display: flex;
  align-items: center;
  gap: 50px;
}

.navbar-top-links a {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--clr--gray);
  transition: all 0.5s;
}

.navbar-top-links a:hover {
  color: var(--main);
  font-weight: bold;
}

.navbar-top-search {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navbar-input {
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: left;
  border-radius: 6px;
  padding: 10px 0px 10px 33px;
  width: 117px;
  height: 41px;
  border: none;
}

.navbar-input::-moz-placeholder {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  line-height: 1.58;
  letter-spacing: 0.01em;
  color: #707070;
}

.navbar-input::placeholder {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  line-height: 1.58;
  letter-spacing: 0.01em;
  color: #707070;
}

.navbar-input:hover {
  color: var(--main);
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  line-height: 1.58;
  letter-spacing: 0.01em;
  color: #707070;
}

.navbar-btn {
  border-radius: 6px;
  padding: 8px 15px;
  width: 170px;
  height: 41px;
  background-color: var(--main);
  color: var(--clr--white);
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  line-height: 1.58;
  letter-spacing: 0.01em;
  text-align: center;
}

.navbar-btn:hover {
  color: var(--main);
  background-color: var(--clr--white);
  border-color: var(--main);
  border: 2px solid var(--main);
}

.hero-section {
  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 300px;
  margin-bottom: 100px;
}

.hero {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 16px;
}

.hero-info {
  padding-bottom: 300px;
}

.hero-info h2 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 50px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.hero-info p {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 34px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 30px;
}

.hero-btn {
  border-radius: 8px;
  width: 196px;
  height: 52px;
  background-color: var(--main);
  color: var(--clr--white);
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.hero-btn:hover {
  color: var(--main);
  background-color: var(--clr--white);
  border-color: var(--main);
  border: 2px solid var(--main);
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__info {
  padding-bottom: 10px;
}
.about__tittle {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: var(--clr--gray);
  margin-bottom: 10px;
}
.about__text {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgba(51, 51, 51, 0.8);
  padding-top: 20px;
  word-spacing: 2px;
}
.about__send {
  display: flex;
  align-items: center;
  justify-content: right;
}
.about__btn {
  margin-top: 50px;
  border-radius: 8px;
  width: 196px;
  height: 52px;
  background-color: var(--main);
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--clr--white);
}

.catalog {
  margin-top: 180px;
}

.catalog__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog-tittle {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  color: var(--clr--gray);
  margin-bottom: 90px;
}

.catalog__card {
  border: 1px solid rgb(212, 201, 201);
  border-radius: 6px;
  width: 250px;
  height: 332px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  opacity: 0.9;
  text-align: center;
}

.catalog__name {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

.catalog__text {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42857;
  color: rgba(51, 51, 51, 0.8);
}

.catalog__span {
  font-weight: 500;
  color: rgba(51, 51, 51, 0.6);
  font-size: 14px;
}

.catalog__btn {
  margin-top: 15px;
  border-radius: 8px;
  width: 213px;
  height: 41px;
  background-color: var(--main);
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #fff;
}/*# sourceMappingURL=main.css.map */