.about {
  @include flexbox($js:space-between, $align:center);
  &__info {
  padding-bottom: 10px;
  }
  &__tittle {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: var(--clr--gray);  
    margin-bottom: 10px;
} 
&__text {
    font-family: "Helvetica Neue", sans-serif;
font-weight: 400;
font-size: 18px;
color: rgba(51, 51, 51, 0.8);
padding-top: 20px;
word-spacing:  2px;

}
&__send {
    @include flexbox($js:right, $align:center);
}
&__btn {
    margin-top: 50px;
    border-radius: 8px;
    width: 196px;
    height: 52px;
    background-color:var(--main);
    font-family: "Helvetica Neue", sans-serif;
font-weight: 400;
font-size: 18px;
color: var(--clr--white);
} 
}






