.navbar-top {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 25px;
   /* border-bottom: 1px solid rgb(196, 183, 183);*/
 

}

.navbar-items {
    display: flex;
    align-items: center;
gap: 20px;
}

.span1 {
    font-family: "Helvetica Neue", sans-serif;
font-weight: 400;
font-size: 16px;
color: var(--clr--gray);
}

.contact {
    font-family: "Helvetica Neue", sans-serif;
}

.navbar-links {
    display: flex;
    align-items: center;
gap: 20px;
font-family: "Helvetica Neue", sans-serif;
font-weight: 400;
font-size: 16px;
transition: all 0.5s;
}

.navbar-links a {
color: var(--clr--gray);
}

.navbar-link {
    display: flex;
    align-items: center;
    gap: 8px;
}

.navbar-icons {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: "Helvetica Neue", sans-serif;
font-weight: 500;
font-size: 16px;
transition: all 0.5s;
 line-height: 20px;  
line-height: 1.25;
letter-spacing: 0.08em;
text-transform: uppercase;
text-align: center;
color:var(--clr--black);
}

.navbar-links a:hover {
    color: var(--main);
}
.navbar-icons span:hover {
    color: var(--main);
}

.navbar-bottom {

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 20px;
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.navbar-logo a {
    font-family: "Helvetica Neue", sans-serif;
font-weight: 500;
font-size: 20px;
color: var(--clr--gray);
transition: all 0.5s;
}
.navbar-logo a:hover {
    color: var(--main);
}

.navbar-top-links {
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar-top-links a {
    font-family: "Helvetica Neue", sans-serif;
font-weight: 500;
font-size: 16px;
text-transform: uppercase;
color:var(--clr--gray);
transition: all 0.5s;
}

.navbar-top-links a:hover {
    color: var(--main);
    font-weight: bold;
 
}

.navbar-top-search {
    display: flex;
    align-items: center;
    gap: 12px;
}

.navbar-input {
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
  background-position: left ;
    border-radius: 6px;
padding: 10px 0px 10px 33px;
width: 117px;
height: 41px;
border: none;
}
 
.navbar-input::placeholder {
    font-family: "Helvetica Neue", sans-serif;
font-weight: 400;
font-size: 16px;
 line-height: 25px;  
line-height: 1.58;
letter-spacing: 0.01em;
color: #707070;

}


.navbar-input:hover {
    color: var(--main);
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 16px;
     line-height: 25px;  
    line-height: 1.58;
    letter-spacing: 0.01em;
    color: #707070;
}

.navbar-btn {
    border-radius: 6px;
padding: 8px 15px;
width: 170px;
height: 41px;
background-color: var(--main);
color: var(--clr--white);
font-family: "Helvetica Neue", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 25px; 
line-height: 1.58;
letter-spacing: 0.01em;
text-align: center;

}

.navbar-btn:hover {
    color: var(--main);
    background-color: var(--clr--white);
    border-color: var(--main);
    border: 2px solid var(--main);
}

